html, body, main {
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
  font-family: 'Merriweather', serif;

}

p {
  font-family: 'Montserrat', sans-serif;
}



/*previous font family
  font-family: 'Cormorant';
*/

/*section specific for philantrophy*/

.meetTheTeamBlurb {
  text-align: center;
  margin-top: 3em;
}

.meetTheTeamBlurb p{
  margin-bottom:4em;
  text-align: center;
  line-height: 1.5em;
  max-width:1050px;
	margin-left:auto;
	margin-right:auto;
  padding: .5em;
}


.columnforcards {
	width:100%;
	display:block;
	margin-bottom: 64px;

}

.cardimage {
	width:100%;
	max-width:100%;
}

.carddescription {
	clear:both;
	padding: 0 16px 16px 16px;
}

.carddescription p {
  line-height:1.5em;
}
/*.
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

 */

.rowforcards {


	display:flex;
	flex-wrap:wrap;
  margin-bottom:9em;
  margin-top:2em;
}

  .footerCompanyName {
    text-align:center;
  }


@media (min-width: 600px){

.columnforcards {

	float:left;
	max-width:100%;
	display:block;
	margin-bottom: 16px;
    	padding: 0 20px;

	}

.rowforcards {

	max-width:600px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	display:flex;
	flex-wrap:wrap;
}

}

/*
@media (min-width: 800px){

.columnforcards {

	float:left;
	width:calc((100% - 80px)/2);
	max-width:100%;
	display:block;
	margin-bottom: 16px;
    	padding: 0 20px;

	}

}
*/
@media (min-width: 800px){

.rowforcards {

	max-width:1050px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	display:flex;
	flex-wrap:wrap;
}

.columnforcards {


	width:calc((100% - 120px)/2);
	display:block;
	margin-bottom: 20px;
	margin-top: 20px;
    	padding: 0 20px;
	max-height:379px;
	}

}

//////*section ending philantrophy pages section**//










#blog_post_date{
  color:#aaa;
  margin-bottom:1.7em;
  margin-left: 0;
}
