/* */
.navBarTitle a {
  text-decoration: none;
  color:#333333;
}
.navBarTitle a:hover {
  text-decoration: none;
  color:#333333;
}

.navBarWrapper {
  margin, padding :0;
    background-color: #E5E7E7;
    min-height: 56px;
}

.nav_bar {
  display:inline;
  width:100%;
  padding: 0;
  list-style: none;
  margin-top:0em;
  margin-bottom:0;

}

.responsiveNav {
background-color:#cecfcf;
}
.navitem {

  box-sizing: border-box;
  display: inline-block;

  min-width:48px;
  min-height:48px;
  text-align: center;
  line-height: 24px;
  padding: 6px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.08em;
  font-weight:450;
  line-height: 175%;
  border-color: #CCCFCF;

}

.navitemResponsive {

  box-sizing: border-box;
  display: block;
  min-width:48px;
  min-height:48px;
  text-align: left;
  line-height: 24px;
  padding: 12px;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.3em;
  line-height: 175%;
  border-color: #CCCFCF;
  color:white;

}

@media screen and (min-width:750px) {
  .navitem {
    width: calc((100% -250px)/6);
  }

}

.navitemResponsive a {
    text-decoration: none;
    color:#333333;
    cursor: pointer;
}

#headerpic{
  display: inline-block;
  height:2.0em;
  width:2.0em;
  padding-left: 1.0em;
  top: 6px;
  position: relative;

}
.navBarTitle{
  font-weight:650;
  font-size: 1.5em;
  text-transform: none;
  margin-left: 0em;
    box-sizing: border-box;
    display: inline-block;
  text-decoration: none;
    min-width:48px;
    min-height:48px;
    text-align: center;
    line-height: 24px;
    padding: 6px;
    text-decoration: none;
    list-style-type: none;
    line-height: 175%;
    border-color: #CCCFCF;
    color:#333333;

}

.navitem a {
    text-decoration: none;
    color: #555F61;
    cursor: pointer;
}

 a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
}


p {
margin: 0;
}

.span_icon {
  float:right;
  margin:.34em;
  cursor: pointer;
}

nav {
  width: 300px;
  height:100%;
  position: absolute;
  top: 0px;
  z-index: 1;
  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

nav.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 0px;
  z-index:1;
}

/*responsiveNavbar*/
@media screen and (max-width: 669px) {
  .navitem {
    display:none;
  }

  .nav__list {
    padding-left: 16px;
    padding-top: 10px;
  }

  .navBarTitle {
    font-size: 1.5em;
    width: 180px;
    color:#333333;
    text-decoration: none;
    font-weight:650;
    font-size: 1.5em;
    text-transform: none;
    margin-left: 0em;
      box-sizing: border-box;
      display: inline-block;
      width: 10%;
      min-width:48px;
      min-height:48px;
      text-align: center;
      line-height: 24px;
      padding: 6px;
      text-decoration: none;
      list-style-type: none;
      line-height: 175%;
      border-color: #CCCFCF;

  }
}

@media screen and (min-width: 670px) {
  nav {
    position:absolute;
    transform: translate(-300px, 0);
  }
  nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(-300px, 0);
  }
  body {
    display:flex;
    flex-flow: row nowrap;
  }
  main {
    width:auto;
    flex-grow: 1;
  }
  .span_icon {
    display:none;
  }
}

/*end of content for the navbar*/


/*  up to line 764*/



.footerCompanyName {
  text-align: center;
}

.footer ul li a {
  text-decoration:none;
  color:white;
}

.footer ul li a:hover {
  opacity:.5;
  color:#e6e6e6;
}

/* small screens up to 500px  */
@media screen and (max-width: 500px) {

.footer {
  height:59em;
}
  .footer ul{
    margin-top:2em;
    padding:0;
    list-style-type: none;
    color:white;
    display:inline-block;
    float: left;
    width: 100%;
    text-align: center;
  }
  .footer li {
    line-height: 1.7em;
    font-size: 1.27em;
    text-align: center;
    color: #e6e6e6;
    min-height: 48px;
  }

  #socialMediaIcons{
    margin-top: 2px;
    margin:auto;
    text-align: center;
    font-size: 1em;
    min-width: 266px;

  }
  i:first-of-type {
      margin-left: 0em;
  }
  #footerpic {
    width: 175px;
    height:175px;
    margin-top: 1.5em;
    margin-bottom:1em;
  }
  .footerCompanyName {
    padding-left: .75em;
    padding-right: .75em;
  }

}


/* medium screens up to 850px  */
@media screen and (min-width: 501px) and (max-width: 850px){



  .footer ul{
    margin-top:2em;
    padding:0;
    list-style-type: none;
    color:white;
    display:inline-block;
    float: left;
    width: 100%;
    text-align: center;
  }
  .footer li{
     line-height: 1.7em;
     font-size:1.27em;
     text-align:center;
     color:#e6e6e6;
    min-height: 48px;
  }


  .footer {
    height:59em;
  }
  #socialMediaIcons{
    margin-top: 2px;
    margin:auto;
    text-align: center;
    font-size: 1em;
    min-width: 266px;

  }
  i:first-of-type {
      margin-left: 0em;
  }
  #footerpic {
    width: 175px;
    height:175px;
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  .footerCompanyName {
    padding-left: .75em;
    padding-right: .75em;

  }

}

/* screens over 850px  */
@media screen and (min-width: 851px) {




  .footer{
    background-color: #333333;
    height: 23em;
    margin-top:2em;

  }


    .footerCompanyName {
      margin: 0;
      margin-top: 1.7em;
      /*margin-bottom: 1em;*/
    }
    #footerpic{
      margin-left: 4em;
      width: 150px;
      margin-top: 1em;


    }


      .footerh3{
        margin-top: .2em;
      }

      .footer ul{
        margin-top:2em;
        padding:0;
        list-style-type: none;
        color:white;
        display:inline-block;
        float: left;
        width: 33.33%;
      }

      .footer li{
         line-height: 1.7em;
         font-size:1.27em;
         text-align:center;
         color:#e6e6e6;
      }
      #socialMediaIcons > i:first-of-type {
          margin-left: 1em;
      }
}

/*footer*/

  .footer{
    background-color: #333333;
    margin-top:2em;

  }


  #socialMediaIcons{
    margin-top: 2px;
    font-size: 1em;
    min-width: 266px;
  }




  .footer li:hover {
    color:white;
    cursor: pointer;
  }

/*footer social media icons styling*/

.inline-social-media {
  display: inline-block;
  padding:.25em;
}
i{
  margin:.2em;
}

.fab:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* */
/* */
