html, body, main {
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
  font-family: 'Merriweather', serif;

}

p {
  font-family: 'Montserrat', sans-serif;
}



/*previous font family
  font-family: 'Cormorant';
*/

#blog_post_date{
  color:#aaa;
  margin-bottom:1.7em;
  margin-left: 0;
}

/*section specific for meet the team*/

.meetTheTeamBlurb {
  text-align: center;
  margin-top: 3em;
}

.meetTheTeamBlurb p{
  margin-bottom:4em;
  text-align: center;
  line-height: 1.5em;
  max-width:1050px;
	margin-left:auto;
	margin-right:auto;
}


.columnforcards {
	width:100%;
	display:block;
	margin-bottom: 16px;

}

.cardimage {
	width:100%;
	max-width:100%;
}

.carddescription {
	clear:both;
	padding: 0 16px 16px 16px;
}

.carddescription p {
  line-height: 1.37em;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardtitle {
  margin-bottom:.6em;
  color:#333333;
  font-weight:600;
}


.rowforcards {


	display:flex;
	flex-wrap:wrap;
}


@media (min-width: 600px){

.columnforcards {

	float:left;
	width:calc((100% - 80px)/2);
	max-width:100%;
	display:block;
	margin-bottom: 16px;
    	padding: 0 20px;

	}

}

@media (min-width: 850px){

.rowforcards {

	max-width:1050px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	display:flex;
	flex-wrap:wrap;
}

.columnforcards {


	width:calc((100% - 120px)/3);
	display:block;
	margin-bottom: 20px;
	margin-top: 20px;
    	padding: 0 20px;
	max-height:379px;
	}

}




/*end of section specific for meet the team*/
