<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>

h1 {
  color:green;
}

div {
    width:800px;
    margin: auto;
}

</style>

</head>
<body>

<div>
<h1>Fitness Tracker</h1>
<h2>Login</h2>

<form id="contact-form" method="POST" action="login">
<table>
  <tr>
    <td><label for="email">email:</label></td>
    <td><input type="text" name = "email"/></td>
  </tr>
  <tr>
    <td><label for="password">password:</label></td>
    <td><input type="text" name = "password" /></td>
  </tr>
  <tr>
    <td><input type="submit" value="Submit"></td>
    <td></td>
  </tr>
</table>
</form>

<p><a href="/user/signupUser">New User</a></p>

</div>
</body>
</html>
