<!DOCTYPE html>
<html>
<head>
<title>HTML Tutorial</title>
<style>

h1 {
  color:green;
}

div {
    width:800px;
    margin: auto;
}
</style>

</head>
<body>
<div>
  <h1>Fitness Tracker</h1>

  <h2>Create a new User</h2>

<form id="contact-form" method="POST" action="signupUser">
<table>
  <tr>
    <td>	<label for="email">email:</label></td>
    <td>	<input type="text" name = "email"/></td>
  </tr>
  <tr>
    <td>  <label for="password">password:</label></td>
    <td>	<input type="text" name = "password" /></td>
  </tr>
  <tr>
    <td>  <input type="submit" value="Submit"></td>
    <td></td>
  </tr>
</table>

</form>

<p><a href="/log/login">Login</a></p>

</div>
</body>
</html>
