body {
	background-color: white;
	color:#A9A9A9;
	font-family: Arial, Helvetica, sans-serif;
}


#wrapper {
	   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	   background-color: #a8dcf0;
	   overflow:auto;

}
@media only screen and (min-width: 960px) {
    body {
        width: 80%;
	margin-left:auto;
	margin-right:auto;
    }
}


h1 {

	color:white;
	font-family: Georgia, Times New Roman, serif;
	margin-bottom:0;
	margin-top:0;
	background: url('sunset.jpg') no-repeat;
	background-position: right;
	background-color:#000033;


	padding:.7rem;
}

h2 {
	color:#3399CC;
	font-family:Georgia, Times New Roman, serif;
	text-shadow: 2px 2px 3px #CDB99C;

}



.resort {
	color:#000033;
	font-weight:bold;
}

#nav {
	background-color: #a8dcf0;
	line-height: 3rem;
	width:200px;
	display:inline-block;
	float:left;
	height:500px;


}

#nav ul {
		list-style-type:none;
	        margin: 0;
    		padding-left: 0;

}

#nav ul li {

		font-size:1.2em;

}



li > a {
	padding: 1rem;
	font-weight: 700;
	text-decoration:none;
	padding-left:0;
}


a:link {
    color: #000033;
}

a:visited {
    color: #344873;
}


a:hover{
    color:white;
}



ul {
	    list-style-position: inside;
			padding-left: 0;
}

#contact {
	font-size:.9rem;
}



img {
	float:left;
	padding-right:1rem;
}



h3 {
	color:#000033;
	font-family:Georgia, Times New Roman, serif;
}

#footer {
	font-size:.75rem;
	font-family:Georgia, Times New Roman, Times, serif;
	font-style: italic;
	display:block;
	margin:0;
}

#footer p {
	  margin:0;
}
