html, body, main {
  height: 100%;
  width:100%;
  margin:0;
  padding:0;
  font-family: 'Merriweather', serif;

}

p {
  font-family: 'Montserrat', sans-serif;
}



/*previous font family
  font-family: 'Cormorant';
*/


/****  css for the OurServices Section ****/
	h1 {
		font-size:1.5em;
	}
	html, body {
		margin:0;
		padding:0;
	}


	.meetTheTeamBlurb {
	  text-align: center;
	  margin-top: 3em;
	}

	.meetTheTeamBlurb p{
	  margin-bottom:4em;
	  text-align: center;
	  line-height: 1.5em;
	  max-width:1050px;
          margin-left:auto;
	  margin-right:auto;
	  padding: 0 2em;
	}


	.container {
	width:100%;
	display:flex;
	flex-wrap: wrap;
	}

	.container2 {
	width:100%;
	display:flex;
	flex-wrap: wrap;
	}


	.container > div {
	width:100%;
	max-width:100%;

	}

	.container2 > div {
	width:100%;
	max-width:100%;

	}

	.cardimage {
		max-width:100%;
		display: block;
    		margin-left: auto;
    		margin-right: auto;
	}

	.content2text, .content4text, .content6text {
		padding:.5em;
	  	line-height: 1.5em;
		margin: 0 0 4em 0;
	}
	@media screen and (min-width: 640px) {

	#content2textID, #content4textID, #content6textID {
		max-width:620px;
		display:block;
		margin-left:auto;
		margin-right:auto;
	}

	}

	@media screen and (min-width: 860px) {
	.content2text { order:1; }
	.content1 { order:2; }
	.content5 { order:4;}
	.content6text { order:3;  }


	div > h2 {
		padding-top:1em;
	}

	.container > div {
	width:calc((100% - 128px)/2);
	padding:2em;


	}

	.container2 > div {
	width:calc((100% - 128px)/2);
	padding:2em;

	}

	.containerA {
		width:100%;
		background-color:#f2f2f2;
	}
	.cardimage {
		max-width:100%;
		padding-top: 2em;
    		padding-bottom: 2em;
	}

	}



	/****  End of the css for the OurServices Section ****/
