.Gold {
  background-image: url("../panel_pictures/gold.png");
}

.Diamond {
  background-image: url("../panel_pictures/diamond.png");
}

.Seven {
  background-image: url("../panel_pictures/seven.png");
}
.Kale {
  background-image: url("../panel_pictures/kale.png");
}
.Cherry {
  background-image: url("../panel_pictures/cherry.png");
}
.Banana {
  background-image: url("../panel_pictures/banana.png");
}
.Tab {
  background-image: url("../panel_pictures/tab.png");
}
