body, html {
  margin:0;
}

p, h1 {
  text-align:center;

}
p {
  line-height: 2em;
}
h1 {
  font-size:2em;
}

a:link, a:visited {
  text-decoration:none;
  font-size:1.25em;
  padding: 14px 25px;
  text-align:center;
  font-weight:1.4em;

}

a:hover, a:active {
    background-color: #f0f0f5;
    padding: 14px 25px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:1.5em;
  max-width:100%;
}
